<!-- Navbar -->
<nav class="navbar mt-4 md:mt-0">
  <ul class="flex space-x-4 justify-center md:justify-start">
    <li><a href="/" class="navbar-link">Home</a></li>
    <li><a href="/about" class="navbar-link">About</a></li>
    <li><a href="/contact" class="navbar-link">Contact</a></li>
    <li><a href="/support" class="navbar-link">Support</a></li>
  </ul>
</nav>