<header>
  <div>
    <h1>{{project.title}}</h1>
    <h2>{{project.slogan}}</h2>
  </div>

  <nav>
    <ul class="nav-left">
      <li><a href="/" aria-label="Home">Home</a></li>

      {{#if isLoggedIn}}
        <!-- sign out Button -->
        <li><a href="/user/signout" aria-label="sign out">Sign Out</a></li>
      {{else}}
        <li><a href="/user/sign-in" aria-label="Sign In">Sign In</a></li>
        <li><a href="/user/sign-up" aria-label="Sign Up">Sign Up</a></li>
      {{/if}}
    </ul>
  </nav>
</header>