<!-- Sidebar text hidden visually, but announced by screen readers -->
<div
  tabindex="0"
  class="visually-hidden"
  style="padding: 10px; border: 1px solid black; margin: 20px"
>
  sidebar
</div>

<ul>
  <li><a href="#">About</a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Support</a></li>
</ul>

<!-- End of sidebar text hidden visually, but announced by screen readers -->
<div
  tabindex="0"
  class="visually-hidden"
  style="padding: 10px; border: 1px solid black; margin: 20px"
>
  end of sidebar
</div>